{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
  <form action="{% url 'articles:write' %}">
    <div class="mb-3">
      <label class="form-label fs-3 fw-bold">제목</label>
      <input type="text" class="form-control" name='title' value="Review Title">
    </div>
    <div class="mb-3">
      <label class="form-label fs-4 fw-bold">내용</label>
      <textarea class="form-control" name="content" rows="3"></textarea>
      <input class="btn btn-dark float-end my-3" type="submit" value="작성하기">
    </div>
  </form>
</div>
{% endblock content %}