{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center m-5">
  <div class="container my-4">
    <h1 class="fw-bold my-3">리뷰 내용</h1>
    <h4 class="my-3">제목 : {{review.title}} </h4>
    <p class="my-3">작성일자 : {{review.updated_at}}</p>
    <p class="border my-3 p-3">{{review.content}}</p>
    <div class="float-end">
      <a href="{% url 'articles:delete' review.id %}" class="btn btn-dark" data-bs-toggle="modal"
        data-bs-target="#exampleModal">
        삭제
      </a>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <p>정말 삭제하시겠습니까?</p>
              <div class="float-end">
                <a class="btn btn-dark" href="{% url 'articles:delete' review.id %}">삭제</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">돌아가기</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="btn btn-dark" href="{% url 'articles:edit' review.id %}">수정</a>
      <a class="btn btn-dark" href="{% url 'articles:index' %}">돌아가기</a>
    </div>
  </div>
</div>
{% endblock content %}