{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="d-flex justify-content-center">
    <h1 class="fw-bold my-5">리뷰 게시판</h1>
  </div>
  <div class="d-flex justify-content-center">
    <table class="table">
      <thead>
        <tr class="table-dark text-center">
          <th scope="col">리뷰 번호</th>
          <th scope="col">제목</th>
          <th scope="col">작성 시간</th>
          <th scope="col">수정 시간</th>
        </tr>
      </thead>
      <tbody>
        {% for review in reviews %}
        <tr class="text-center">
          <th scope="row">{{review.id}}</th>
          <td><a class="text-decoration-none" href="{% url 'articles:detail' review.id %}">{{review.title}}</a></td>
          <td>{{review.created_at}}</td>
          <td>{{review.updated_at}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <a class="float-end btn btn-dark" href="{% url 'articles:create' %}">리뷰작성</a>
</div>
{% endblock content %}